* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: sans-serif;
}

.header {
  padding-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.wrapper {
  display: flex;
  border: 1px solid rgb(167, 167, 167);
  background-color: white;
  margin: 10em 7em;
  position: relative;
}

.wrapper > ul {
  flex-grow: 1;
  height: 2.5em;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
}

.wrapper > ul > li:not(.more) {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2em;
  white-space: nowrap;
  cursor: pointer;
}

.wrapper > ul > li:not(.more):hover {
  background-color: rgb(250, 242, 242);
}

.wrapper:not(.--jsfied) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.pointer-cursor:hover {
  cursor: pointer;
};

.more {
  cursor: pointer;
}

.more > ul > li {
  background-color: rgb(250, 242, 242);
  padding: .6em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: .1em;
  cursor: pointer;
}

.more > ul > li:hover {
  background-color: rgb(245, 224, 224);
}

button {
  background-color: rgb(250, 242, 242);
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font: inherit;
  height: 2.5em;
  width: 9em;
  white-space: nowrap;
  cursor: pointer;
}

button:hover {
  background-color: rgb(245, 224, 224);
}

.secondary {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  display: block;
  z-index: -1;
  border: 1px solid rgb(167, 167, 167);
  transition: opacity .1s ease-in, transform .1s ease-in;
  opacity: 0;
  transform: translateY(-50px);
}

.secondary > ul > li {
  word-wrap: break-word;
}

.show-secondary {
  transform: translateY(0px);
  opacity: 1;
  z-index: 5;
}

.secondary .show-secondary {
  display: block;
}

.primary .hidden {
  display: none !important;
}

.secondary .hidden { 
  display: none;
}